h1 {font-family: Verdana; font-weight: normal; font-size: 50px; color: white; text-align: center;

}
div {color: aquamarine; font-size: 16px; text-align: center;
}
body {background-color: black;

}
p {text-align: center;
}
h2 {font-family: Verdana; font-weight: 300; font-size: 42px; color: white; text-align: center;

}
#interest {font-family: Verdana; font-size: 21px; color: gray; text-align: center;

}
div {color: aquamarine; font-size: 16px; text-align: center;

}
#Excursion {text-align: right; color: gray; font-family: Verdana; font-size: 21px;

}
